:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-placeholder: #a6a6a6;
  --color-border: #ccc;

  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-accent);
  transition: margin 0.2s;
}

.link-arrow:hover {
  text-decoration-line: underline;
  margin-left: 5px;
}

.link-arrow::after {
  content: "->";
  margin-left: 5px;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  display: inline-block;
  text-decoration-line: none;
  content: "-->";
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badge */
.badge {
  font-size: 2rem;
  white-space: nowrap;
  border-radius: 20px;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  margin-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  width: 64px;
  height: 64px;
  background-color: #f3f9f1;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

.icon--white {
  fill: white;
}

/* Buttons */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 40px;
  padding: 2rem 3rem;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background: #4292fc;
}

.btn--secondary {
  background: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background: #48e4ff;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background: #ff643d;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--outline {
  background-color: rgba(265, 265, 265, 0);
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}

.btn--outline:hover {
  background: var(--color-heading);
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  font-size: 2rem;
  color: var(--color-heading);
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  outline: 0;
}

::placeholder {
  color: var(--color-placeholder);
}

.input-group {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1.5rem;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  border: 1px solid black;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card--primary .card__header {
  border: 0;
  color: white;
  background: var(--color-primary);
}

.card--secondary .card__header {
  border: 0;
  color: white;
  background: var(--color-secondary);
}

.card--primary .badge--primary {
  background-color: #0a62d4;
}

.card--secondary .badge--secondary {
  background-color: #00c5e7;
}

/* Plans */
.plan__name {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card {
  overflow: visible;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 45px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media Objects */
.media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.media--dark {
  background: black;
}

.media__image {
  flex-shrink: 0;
  margin-top: 1rem;
}

.media__body {
  flex-grow: 1;
  margin: 0 2rem;
}

.media__title {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 0;
}

.media--dark .media__title {
  color: white;
}

.media__description {
  font-size: 2rem;
  color: #7b858b;
  margin-top: 1.5rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;
  color: var(--color-body-darker);
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__line {
  transform: translateY(-1rem);
}

.quote__author {
  font-size: 3rem;
  font-style: normal;
  margin: 0;
}

.quote__organization {
  font-size: 2rem;
  font-style: normal;
  color: var(--color-heading);
  opacity: 0.6;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }

  .quote__line {
    transform: translateY(-1.3rem);
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template: 1fr / repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template: auto/ repeat(3, 1fr);
  }
}

/* testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  right: -32px;
  top: 2rem;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */
.callout {
  padding: 5rem 3rem;
  border-radius: 5px;
}

.callout--primary {
  background-color: var(--color-primary);
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 0;
}

.callout__description {
  color: white;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--cols-2 {
    grid-template: 1fr /1fr auto;
  }

  .callout__content {
    text-align: left;
  }
  .callout .btn {
    margin-left: 2rem;
  }
}

/* Collapsibles */
.collapsible {
  padding: 2rem 4rem;
}

.collapsible--dark {
  background-color: #232323;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.collapsible__heading {
  margin: 0;
  font-size: 3rem;
  user-select: none;
}

.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--dark .collapsible__heading {
  color: white;
}

.collapsible--dark .collapsible__content {
  color: #9c9c9c;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: black;
  color: #646c71;
}

.block--dark .block__heading {
  color: white;
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
}

.nav--dark {
  background: black;
}

.nav__icon {
  transform: translateY(5px);  
  user-select: none;
}

.nav__toogler {
  cursor: pointer;
  opacity: 0.5;
  transition: box-shadow 0.3;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item>a {
  transition: color .3s;
}

.nav--dark .nav__item>a {
  color: #d2d0db;
}

.nav__item > a:hover {
  color: white;
}

.nav--dark .nav__toogler {
  fill: white;
}

.nav.collapsible--expanded .nav__toogler {
  opacity: 1;
  box-shadow: 0 0 0 3px gray;
  border-radius: 5px;
}


@media screen and (min-width: 768px) {
  .nav__toogler {
    display: none;
  }

  .nav__list{
    width: auto;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    display: block;
  }

  .nav__item{
    display: inline-block;
    border: 0;
  }
}

/* Hero */
.hero {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.hero__image {
  width: 100%;
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__content {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
  }

  .hero {
    padding-top: 0;
  }

}