<section class="container block block-domain">
  <header class="block__header">
    <h2 class="block__heading">The best web-hosting, starting at per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non aliquam
      aliquid maiores animi quas ipsum eius laudantium recusandae repellat
      quasi?
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter Domain Name here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      <span class="btn__text">Search</span>
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>
      <span class="badge badge--primary">10% Off</span>
    </li>
    <li><span class="badge">10% Off</span></li>
    <li><span class="badge">10% Off</span></li>
    <li><span class="badge">10% Off</span></li>
    <li><span class="badge">10% Off</span></li>
    <li><span class="badge">10% Off</span></li>
  </ul>
</section>
