<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p class="callout__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, optio
        rem beatae corrupti aliquam sit vitae quidem natus, mollitia nisi sint
        quo. Accusamus, praesentium veritatis!
      </p>
    </div>
    <a href="#" class="btn btn--secondary">get started</a>
  </div>
</div>
