<div class="media media--dark">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & managed updates</h3>
      <p class="media__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quaerat ab
        dicta eveniet veritatis dolorem recusandae aperiam itaque, ducimus
        explicabo?
      </p>
    </div>
  </div>